.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  width: 100%;
  font-weight: 500;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
